@font-face {
    font-family: nino;
    src: url("/fonts/nino.ttf");
}

@font-face {
    font-family: mtavruli;
    src: url("/fonts/mtavruli.ttf");
}

body {
    font-family: mtavruli !important;
}

/* Navigation */
.nav_underline {
    border-bottom: 1px #007bff solid;
}
.regBlock a {
    color: white;
    text-decoration: none;
}

.logButton {
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}

.logButton a, .regButton a {
    color: black;
}

.logButton a:hover, .regButton a:hover {
    color: white;
}

.regButton {
    margin-right: 1rem;
}

/* Welcome Page */
/* Employed & Vacancies Block */
.employedVacancies {
    margin-top: 75px;
}

/* .employedVacancies {
    background-color: #fdfff5;
} */

.bg-image-vacancy {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.employedNumber, .vacanciesNumbers, .searchWelcomePage, .jobSearch {
    text-align: center;
}

.vacanciesNumbers {
    margin-bottom: 75px;
}

.jobSearch {
    margin-top: 120px;
    margin-bottom: 20px;
}

/* New User's Photos */
.newUserPhotos {
    margin-top: 30px;
}

.newUserInfo {
    margin-top: 20px;
    background-color: #fdfff5;
}

.newUserInfo img {
    width: 100%;
}

.newUserInfo, .newUserInfo a {
    text-decoration: none;
    font-size: 12px;
    border-radius: 15px;
}

.newUserInfo .card, .newUserInfo .card img {
    border-top-left-radius: 25px;
}

.newUserInfo .card {
    border-bottom-right-radius: 25px;
}

/* Active Vacancy */
.activeInterest span {
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: #00D100;
}

.activeVacancy a {
    text-decoration: none;
}

.activeVacancy {
    background-color: #fdfff5;
}

.activeVacancyTitle {
    padding-top: 5%;
    padding-bottom: 2%;
}

.activeVacancyTitle #blink {
    text-align: center;
    font-weight: bold;
    color: #1c87c9;
    transition: 1.0s;
  }

.activeVacancy .card {
    margin-bottom: 25px;
}

.activeVacancy .card:hover {
    background-color: rgb(28,135,201, 0.1);
}

.activeVacancy .card-body p {
    margin-bottom: 0;
}

.viewActiveVacancy h3 {
    margin-bottom: 40px;
    margin-top: 25px;
    text-align: center;
}

.viewActiveVacancy h3 span a {
    color: white;
    background-color: #1c87c9;
    border-radius: 10px;
    padding: 1%;
}

.viewActiveVacancy a h3 span:hover {
    background-color: rgb(28,135,201, 0.9);
}

/* Job Search */
.jobSearchTop {
    text-align: center;
}

.bg-image-job-search{
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jobSearchTop h3 {
    padding-top: 5%;
}

.jobSearchTop {
    padding-bottom: 5%;
}

/* Media */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .logButton {
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
    
    .regButton {
        margin-right: 0rem;
    }
}