@font-face {
    font-family: nino;
    src: url("/fonts/nino.ttf");
}

@font-face {
    font-family: mtavruli;
    src: url("/fonts/mtavruli.ttf");
}

body {
    font-family: mtavruli !important;
}

/* Navigation */
.nav_underline {
    border-bottom: 1px #5e2dfa solid;
}
.regBlock a {
    color: white;
    text-decoration: none;
}

.regButton {
    background-color: #5e2dfa;
    border-radius: 25px;
}

.regButton:hover {
    background-color: #4e24d4;
}

.logButton {
    border-radius: 25px;
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}



.logButton a:hover, .regButton a:hover {
    color: white;
}



/* Welcome Page */
/* Employed & Vacancies Block */
.employedVacancies {
    margin-top: 75px;
}

.bg-image-vacancy {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.employedNumber, .vacanciesNumbers, .jobSearch {
    text-align: center;
}

.searchWelcomePage {
    margin-bottom: 75px;
}

.jobSearch {
    margin-top: 120px;
    margin-bottom: 20px;
}

/* New User's Photos Block */
.newUserPhotos {
    margin-top: 30px;
}

.newUserInfo {
    padding-top: 3%;
    background-color: #fdfff5;
}

.newUserInfo img {
    width: 100%;
}

.newUserInfo, .newUserInfo a {
    text-decoration: none;
    font-size: 12px;
    border-radius: 15px;
}

.newUserInfo .card, .newUserInfo .card img {
    border-top-left-radius: 25px;
}

.newUserInfo .card {
    border-bottom-right-radius: 25px;
}

/* Active Vacancy Block */
.activeInterest span {
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: #00D100;
}

.activeVacancy a {
    text-decoration: none;
}

.activeVacancy {
    background-color: #fdfff5;
}

.activeVacancyTitle {
    padding-top: 5%;
    padding-bottom: 2%;
}

.activeVacancyTitle #blink {
    text-align: center;
    font-weight: bold;
    color: #5e2dfa;
    transition: 1.0s;
  }

.activeVacancy .card {
    margin-bottom: 25px;
}

.activeVacancy .card:hover {
    background-color: rgb(28,135,201, 0.1);
}

.activeVacancy .card-body p {
    margin-bottom: 0;
}

.viewActiveVacancy h4 {
    margin-bottom: 40px;
    margin-top: 25px;
    text-align: center;
}

.viewActiveVacancy h4 span a {
    color: white;
    background-color: #5e2dfa;
    border-radius: 20px;
    padding: 1%;
}

.viewActiveVacancy h4 span a:hover {
    background-color: black;
}

/* Job Search Block */
.jobSearchTop {
    text-align: center;
}

.bg-image-job-search {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jobSearchTop h3 {
    font-weight: bold;
    padding-top: 5%;
}

.jobSearchTop {
    padding-bottom: 5%;
}

/* Outstanding Block */
.outstanding {
    padding-bottom: 5%;
    background-color: #fdfff5;
}

.outstanding .card {
    width: 30rem;
}

.outstanding h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
    color: coral;
}

.outstanding .card h5 a {
    color: black;
}

.outstanding .card h5 a:hover {
    color: #1c87c9;
}

.outstanding .card img {
    width: 100px;
}

.outstanding .card span {
    background-color: #00D100;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
    color: white;
}

.outstanding .card a {
    text-decoration: none;
}

.outstandingJobs span {
    background-color: #5e2dfa;
    padding: 1%;
    border-radius: 20px;
}

.outstandingJobs h4 span:hover{
    background-color: black;
}

.outstandingJobs a {
    color: white;
    text-decoration: none;
}

/* Anketa Block */
.fillAnketa {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fillAnketa .candidate {
    color: #00D100;
}

.fillAnketa button {
    border-radius: 20px;
}

.bg-image-anketa {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Media */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .logButton {
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
    
    .regButton {
        margin-right: 0rem;
    }
}