@font-face {
    font-family: nino;
    src: url("/fonts/nino.ttf");
}

@font-face {
    font-family: mtavruli;
    src: url("/fonts/mtavruli.ttf");
}

body {
    font-family: mtavruli !important;
}

/* Navigation */
.nav_underline {
    border-bottom: 1px #5e2dfa solid;
}
.regBlock a {
    color: white;
    text-decoration: none;
}

.regButton {
    background-color: #5e2dfa;
    border-radius: 25px;
}

.regButton:hover {
    background-color: #4e24d4;
}

.logButton {
    border-radius: 25px;
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}

.logButton a:hover, .regButton a:hover {
    color: white;
}

/* Welcome Page */
/* Employed & Vacancies Block */
.employedVacancies {
    margin-top: 75px;
}

.bg-image-vacancy {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.employedNumber, .vacanciesNumbers, .jobSearch {
    text-align: center;
}

.searchWelcomePage {
    margin-bottom: 75px;
}

.jobSearch {
    margin-top: 120px;
    margin-bottom: 20px;
}

/* New User's Photos Block */
.newUserPhotos {
    margin-top: 30px;
}

.newUserInfo {
    padding-top: 3%;
    background-color: #fdfff5;
}

.newUserInfo img {
    width: 100%;
}

.newUserInfo, .newUserInfo a {
    text-decoration: none;
    font-size: 12px;
    border-radius: 15px;
}

.newUserInfo .card, .newUserInfo .card img {
    border-top-left-radius: 25px;
}

.newUserInfo .card {
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
}

/* Active Vacancy Block */
.activeInterest span {
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: #00D100;
}

.activeVacancy a {
    text-decoration: none;
}

.activeVacancy {
    background-color: #fdfff5;
}

.activeVacancyTitle {
    padding-top: 5%;
    padding-bottom: 2%;
}

.activeVacancyTitle #blink {
    text-align: center;
    font-weight: bold;
    color: #5e2dfa;
    transition: 1.0s;
  }

.activeVacancy .card {
    margin-bottom: 25px;
}

.activeVacancy .card:hover {
    background-color: rgb(94, 45, 250, 0.1);
}

.activeVacancy .card-body p {
    margin-bottom: 0;
}

.viewActiveVacancy h4 {
    margin-bottom: 40px;
    margin-top: 25px;
    text-align: center;
}

.viewActiveVacancy h4 span a {
    color: white;
    background-color: #5e2dfa;
    border-radius: 20px;
    padding: 1%;
}

.viewActiveVacancy h4 span a:hover {
    background-color: black;
}

/* Job Search Block */
.jobSearchTop {
    text-align: center;
}

.bg-image-job-search {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jobSearchTop h3 {
    font-weight: bold;
    padding-top: 5%;
}

.jobSearchTop {
    padding-bottom: 5%;
}

/* Outstanding Block */
.outstanding {
    padding-bottom: 5%;
    background-color: #fdfff5;
}

.outstanding .card {
    width: 30rem;
}

.outstanding h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
}

.topVacancyTitle #blink_2 {
    text-align: center;
    font-weight: bold;
    color: red;
    transition: 1.0s;
}

.outstanding .card h5 a {
    color: black;
}

.outstanding .card h5 a:hover {
    color: #1c87c9;
}

.outstanding .card img {
    width: 100px;
}

.outstanding .card span {
    background-color: #00D100;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
    color: white;
}

.outstanding .card a {
    text-decoration: none;
}

.outstanding .card {
    margin-bottom: 25px;
}

.outstandingJobs span {
    background-color: #5e2dfa;
    padding: 1%;
    border-radius: 20px;
}

.outstandingJobs h4 span:hover{
    background-color: black;
}

.outstandingJobs a {
    color: white;
    text-decoration: none;
}

/* Anketa Block */
.fillAnketa {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fillAnketa .candidate {
    color: #00D100;
}

.fillAnketa button {
    border-radius: 20px;
}

.bg-image-anketa {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Subscribe Block */
.subscribe {
    padding: 30px 0;
    background-color: #17d27c;
    margin-bottom: 50px;;
}

#send_subscription_form {
    background-color: black;
    color: white;
    font-weight: bold;
}

.activeVacancySubscribe {
    color: white;
    font-weight: bold;
}


/* ------------------------------------------------------ */
/* Anketa Page */
/* ------------------------------------------------------ */

.firstTitle {
    margin-top: 75px;
    padding-top: 4%;
    padding-bottom: 3%;
    color: white;
}

.firstTitle a {
    color: white;
}

.firstTitle span {
    color: #5e2dfa;
}

.anketaPageLiveSearch {
    padding: 20px 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
    position: relative;
}

.bg-image-firstTitle {
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.anketaPageLiveSearchOne input, .anketaPageLiveSearchTwo input {
    height: 50px;
}
/* ------------------------------------------------------ */
/* Footer */
.footer {
    background-color: #18212e;
}

.footer h5 {
    color: white;
}

.footerFastLinks a, .footerCategoryLinks a, .footerProfLinks a {
    color: #ccc;
    text-decoration: none;
    display: block;
    padding: 3px 0;
    font-size: 14px;
}

.footerFastLinks a:hover, .footerCategoryLinks a:hover, .footerProfLinks a:hover {
    color: #5e2dfa;
}

.footerContactInfo a {
    color: white;
    text-decoration: none;
}

.footerContactInfo {
    color: white;
}

.footerFacebook {
    font-size: 32px;
}

.footerFacebook:hover {
    color: #00a8ff;
}

.footerMarkerParameter, .footerEmailParameter, .footerPhoneParameter {
    margin-bottom: 0px;
}

.footerMail p a:hover, .footerPhone p a:hover {
    color: #17d27c;
}

.footerMail i, .footerPhone i, .footerMarker i {
    font-size: 24px;
    margin-right: 8px;
}

.footerCopyright {
    background-color: #fff;
}

.footerCopyright span {
    color: #17d27c;
}

.footerCopyrightImage {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* ------------------------------------------------------ */

/* Media */
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    .logButton {
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
    
    .regButton {
        margin-right: 0rem;
    }

    /* Anketa Page - FirstTitle Block*/
    .anketaPageLiveSearchOne {
        margin-bottom: 5px;
    }
}